@import './lib/style';
@import './lib/solarized-light';
#container {
  width: 100vw;
  height: 100vh;
  background-color: $primary;
}

.edit-header {
  height: 100px;
}

.edit-wrap {
  display: flex;
  justify-content: center;
  .edit-box {
    min-width: 500px;
    height: 720px;
    position: relative;
    transition: 1s all ease;
    box-shadow: 2px 2px 10px #04469b;
    border-radius: 10px;
    font-size: 18px;
    padding: 30px 30px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .box {
    width: 100%;
    height: 100%;
    padding-right: 42px;
    overflow-y: auto;
  }
  textarea {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 18px;
    color: #fff;
    padding-right: 42px;
  }
  .edit-box-left {
    width: 50%;
    left: 20px;
    background-color: #fff;
  }
  .edit-box-right {
    width: 42%;
    right: 20px;
    background-color: #000;
  }
}

.edit-box {
  h1,h2,h3,h4,h5,ul,blockquote {
    margin: 15px 0;
  }
  blockquote {
    border-left: 4px solid #999;
    background-color: rgba(237, 237, 237, 0.5);
    padding: 10px 10px;
  }
  blockquote:hover {
    box-shadow: 0 0 1px rgba(117, 117, 117, 0.8);
  }
  hr {
    margin: 15px 0;
  }
}