@import './lib/style';
@import './lib/solarized-light';
#container {
  display: flex;
  justify-content: space-between;
  margin: 50px 120px;
}

.left {
  flex:1;
}

.right {
  flex:4;
  padding: 10px;
  background-color: #c3c3c3;
}

.essay {
  margin: 10px;
  padding: 15px 10px;
}

.essay:hover {
  background-color: #fff;
}