@import './lib/style';
@import './lib/solarized-light';
#container {
  display: flex;
  margin: 30px;
}

.left {
  flex:1;
}

.right {
  flex:4;
  padding: 10px;
}

.essay {
  margin: 10px;
  padding: 15px 10px;
}

.essay:hover {
  background-color: #fff;
}